*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(71, 71, 71);  
  color: aliceblue;
}

.apresentacao {
  margin: 10%;
  padding-left: 5%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

a {
  color: burlywood;
}

.destaquedeskills {
  color: burlywood;
}


h1 {
  font-weight: ;
}

span {
  color: burlywood;
  border: 1px solid ;
}

/* Imagem */

#Logo {
  
}

#imagemPri{
  color: burlywood;
  border: 3px solid;
  width: 25%;
}