@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #0F0F0F;  
  color: aliceblue;
}

.corpo {
  margin-top: 0%;
}

.apresentacao {
  padding: 8% 15%;
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.apresentacao_conteudo_imagem {
  width: 500px;
  margin-left: -10%;
  
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apresentacao_conteudo_titulo {
  font-size: 30px;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.apresentacao_conteudo_h3 {
  font-size: 90%;
  color: #deb887;
}

.apresentacao_conteudo_paragrafo {
  font-size: 18px;
  
}

.apresentacao_conteudo_h2 {
  display: flex;
  align-items: center;
}

.apresentacao_links_link {
  display: flex;
  justify-content: center;
  gap: 15px;
  color: #faf9f7;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  background-color: #0F0F0F;
  font-size: 20px;
  padding: 10px 40px;
  text-decoration: none;
  margin-top: 3%;
  border: 2px solid #B5936D;
  
}

.apresentacao_links_link:hover {
  background-color: #242323;
}

.apresentacao_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}

.destaquedeskills {
  font-size: 17px;
  color: #B5936D;
}


h1 {
  font-weight: 100px;
}

span {
  color: #B5936D;
  border: 1px solid ;
}

/* Imagem */

.principal {
  background-image: url(_imagens/Capa\ de\ Projetos.jpg);
  
}

.container {
    height: 500vh;
}

#Logo {

  
}

.imagemPri{
  margin-top: 5%;
  margin-left: 2%;
  color: #B5936D;
  border: 3px solid;
  width: 29%;
}

.rodape {
  padding: 15px;
  color: #0F0F0F;
  background-color: #B5936D;
  text-align: center;
}