@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(22, 22, 22);  
  color: aliceblue;
}

.corpo {
  margin-top: 0%;
}

.apresentacao {
  margin: 10% 15%;
  padding-left: 5%;
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.apresentacao_conteudo_imagem {
  width: 500px;
  margin-left: -10%;
  
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apresentacao_conteudo_titulo {
  font-size: 30px;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.apresentacao_conteudo_h3 {
  font-size: 90%;
  color: burlywood;
}

.apresentacao_conteudo_paragrafo {
  font-size: 18px;
  
}

.apresentacao_links_link {
  color: rgb(0, 0, 0);
  width: 280px;
  text-align: center;
  border-radius: 16px;
  background-color: burlywood;
  font-size: 24px;
  padding: 9px 0px;
  text-decoration: none;
  
}

.apresentacao_links {
  display: flex;
  justify-content: space-between;
}

.destaquedeskills {
  font-size: 17px;
  color: burlywood;
}


h1 {
  font-weight: 100px;
}

span {
  color: burlywood;
  border: 1px solid ;
}

/* Imagem */

#Logo {

  
}

.imagemPri{
  margin-top: 5%;
  margin-left: 2%;
  color: burlywood;
  border: 3px solid;
  width: 29%;
}