@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
  --cor-primaria: #0F0F0F;
  --cor-segundaria: #faf8f8;  
  --cor-terciaria: #B5936D;
  --cor-hover: #242323;


  --fonte-principal: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);  
  color: var(--cor-segundaria);
}

.corpo {
  margin-top: 0%;
}

.cabecalho {
  padding: 2% 10% 0% 5%;
}

.cabecalho_menu {
  display: flex;
  gap: 40px;
}

.cabecalho_menu_link {
  font-family: var(--font-secundaria);
  color: var(--cor-terciaria);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.apresentacao {
  padding: 4% 15%;
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.apresentacao_conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apresentacao_conteudo_titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-style: normal;
}

.apresentacao_conteudo_h1 {
  color: var(--cor-terciaria);
  font-size: 2.5rem;
}

.apresentacao_conteudo_h2 {
  display: flex;
  align-items: center;
  color:var(--cor-terciaria);
}

.apresentacao_conteudo_h3 {
  display: flex;
  align-items: center;
  color:var(--cor-terciaria);
  font-size: 90%;
  color: var(--cor-terciaria);
}

.apresentacao_conteudo_paragrafo {
  font-size: 1.1rem;
  font-family: var(--font-secundaria);
}

.apresentacao_conteudo_paragrafo_curriculo {
  font-size: 1rem;
  font-family: var(--font-secundaria);
}

.apresentacao_conteudo_imagem {
  width: 500px;
  margin-left: -10%;
}

.apresentacao_links_link {
  display: flex;
  justify-content: center;
  gap: 15px;
  color: var(--cor-segundaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  background-color: var(--cor-primaria);
  font-size: 1.2rem;
  padding: 10px 40px;
  text-decoration: none;
  margin-top: 3%;
  border: 2px solid var(--cor-terciaria);
  
}

.apresentacao_links_link:hover {
  background-color: var(--cor-hover);
}

.apresentacao_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}

.destaquedeskills {
  font-size: 1rem;
  color: var(--cor-terciaria);
}

.apresentacao_li {
  font-size: 1.1rem;
}


h1 {
  font-weight: 100px;
}

span {
  color: var(--cor-terciaria);
  border: 1px solid ;
}

/* Imagem */

.principal {
  background-image: url(_imagens/Capa\ de\ Projetos.jpg);
  
}

.container {
    height: 500vh;
}

#Logo {

  
}

.imagemPri{
  margin-top: 5%;
  margin-left: 2%;
  color: var(--cor-terciaria);
  border: 3px solid;
  width: 29%;
}

.imagem_Pri_curriculo {
  margin-top: -100%;
  margin-left: 0%;
  color: var(--cor-terciaria);
  border: 3px solid;
  width: 30%;
}

.rodape {
  width: 100%;
  padding: 15px;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--font-secundaria);
}